In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json

In [7]:
url = 'https://api.datausa.io/api/?sumlevel=state&show=geo&year=2016&required=num_ppl_rca,num_ppl&naics=8139'

##### &naics=8139  
Why: "This industry group comprises establishments primarily engaged in promoting the interests of their members (except religious organizations, social advocacy organizations, and civic and social organizations). Examples of establishments in this industry are business associations, professional organizations, labor unions, and political organizations."

In [8]:
data = json.loads(requests.get(url).text)
df = pd.DataFrame(data['data'],columns=data['headers'])

In [5]:
df.head()

   year        geo  num_ppl_rca  num_ppl   naics
0  2016  04000US01     0.997081   110009      23
1  2016  04000US01     1.034150    84913      81
2  2016  04000US01     1.148920   110646      92
3  2016  04000US01     0.868621    12258  928110
4  2016  04000US01     0.846052    28362   11-21

In [2]:
fig = plt.figure(figsize=(20,5))
plt.bar(range(len(df['geo'])), df['num_ppl'])
plt.xticks(range(len(df['geo'])),df['geo'],rotation=45)
plt.show()

NameError: name 'plt' is not defined

In [ ]:
df.loc[df['naics']=='8139Z'].plot(type='scatter', x='num_ppl_rca', y='num_ppl')
plt.show()